*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body, html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 10px;
    color: var(--darkest);
    background-color: var(--bg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

:root {
    --bg: #F4F4F5;
    --darkest: #111e2f;
    --accent: #18305c;
    --dark: #333743;
    --shadow: #787d80;
}

h2, h3 {
    margin-bottom: 10px;
}

/* Navigation */
#nav-links {
    display: flex;
    list-style-type: none;
    gap: 2ch;
    margin-bottom: 40px;
}

/* Nav and project links */
a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Bio components */
.bio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.bio-info {
    display: flex;
    flex-wrap: wrap;
    width: minmax(50%, 400px);
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.bio-info > .img-container {
    flex: 0 1 200px;
}

.img-container > img {
    width: 100%;
}

.bio-info > .bio-description {
    flex: 0 1 400px;
}

/* Bio details */
.bio-tools {
    align-content: baseline;
    width: 40%;
}

/* Projects overview on homepage*/
.projects-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-container > .project-info {
    flex: 0 1 400px;
}

.project-container > .img-container {
    flex: 0 1 400px;
    margin: 20px 40px;
}

/* Project details */
.project-screenshot {
    max-width: 800px;
    margin: 10px;
}

.project-section {
    width: 75%;
    margin-bottom: 20px;
}